<h1><a href="{% url 'create' %}">create</a></h1>


<ul>
    {% for article in object_list %}
        
        <a href="{% url 'detail' article.pk %}"><h1>{{ article.pk }} - {{ article.title }}
        <br><a href="{% url 'delete' article.pk %}">Delete</a>
        </h1></a>
        
    {% endfor %}
</ul>
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}
